.text-nowrap-multiline {
  overflow: hidden;
  text-overflow: ellipsis !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 16px;
  max-height: 32px;
  -webkit-box-orient: vertical;
}

.app-chapter-slider-scrolling {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* -webkit-overflow-scrolling: touch; */
}

.app-chapter-slider-scrolling ion-card {
  display: inline-block;
}
