# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# generating
public/assets/img/drawing_*
public/assets/img/photo_*

# testing
/coverage

# production
.gradle
/build

# resources
resources/android
resources/ios
resources/pwa

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
