/*
 * Ionic Variables and Theming
 * ----------------------------------------------------------------------------
 * For more information, please see
 * https://www.ionicframework.com/docs/theming/
 */

/*
 * Ionic Colors
 * ----------------------------------------------------------------------------
 * Named colors make it easy to reuse colors on various components.
 * It's highly recommended to change the default colors
 * to match your app's branding. Ionic provides nine layered colors
 * that can be changed to theme an app. Additional colors can be
 * added as well (see below). For more information, please see
 * https://www.ionicframework.com/docs/theming/colors
 *
 * To easily create custom color palettes for your app’s UI,
 * check out our color generator:
 * https://www.ionicframework.com/docs/theming/color-generator
 */

:root {
  /* primary */
  --ion-color-primary: #036;
  --ion-color-primary-rgb: 0, 51, 102;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #002d5a;
  --ion-color-primary-tint: #1a4775;

  /* secondary */
  --ion-color-secondary: #369;
  --ion-color-secondary-rgb: 51, 102, 153;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2d5a87;
  --ion-color-secondary-tint: #4775a3;

  /* tertiary */
  --ion-color-tertiary: #69c;
  --ion-color-tertiary-rgb: 102, 153, 204;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5a87b4;
  --ion-color-tertiary-tint: #75a3d1;

  /* success */
  --ion-color-success: #093;
  --ion-color-success-rgb: 0, 153, 51;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00872d;
  --ion-color-success-tint: #1aa347;

  /* warning */
  --ion-color-warning: #fc0;
  --ion-color-warning-rgb: 255, 204, 0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b400;
  --ion-color-warning-tint: #ffd11a;

  /* danger **/
  --ion-color-danger: #f00 --ion-color-danger-rgb: 255, 0, 0;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  /* dark */
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /* medium */
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #fff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /* light */
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** favorite **/
  --ion-color-favorite: #69bb7b;
  --ion-color-favorite-rgb: 105, 187, 123;
  --ion-color-favorite-contrast: #fff;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;

  /** twitter **/
  --ion-color-twitter: #1da1f4;
  --ion-color-twitter-rgb: 29, 161, 244;
  --ion-color-twitter-contrast: #fff;
  --ion-color-twitter-contrast-rgb: 255, 255, 255;
  --ion-color-twitter-shade: #1a8ed7;
  --ion-color-twitter-tint: #34aaf5;

  /** instagram **/
  --ion-color-instagram: #5956d8;
  --ion-color-instagram-rgb: 89, 86, 216;
  --ion-color-instagram-contrast: #fff;
  --ion-color-instagram-contrast-rgb: 255, 255, 255;
  --ion-color-instagram-shade: #4e4cbe;
  --ion-color-instagram-tint: #6a67dc;

  /** vimeo **/
  --ion-color-vimeo: #23b6ea;
  --ion-color-vimeo-rgb: 35, 182, 234;
  --ion-color-vimeo-contrast: #fff;
  --ion-color-vimeo-contrast-rgb: 255, 255, 255;
  --ion-color-vimeo-shade: #1fa0ce;
  --ion-color-vimeo-tint: #39bdec;

  /** facebook **/
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #fff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /** other root **/
  --ion-headings-font-weight: 300;
  --ion-color-angular: #ac282b;
  --ion-color-communication: #8e8d93;
  --ion-color-tooling: #fe4c52;
  --ion-color-services: #fd8b2d;
  --ion-color-design: #fed035;
  --ion-color-workshop: #69bb7b;
  --ion-color-food: #3bc7c4;
  --ion-color-documentation: #b16be3;
  --ion-color-navigation: #60c;
}

/*
   * Additional Ionic Colors
   * ----------------------------------------------------------------------------
   * In order to add colors to be used within Ionic components,
   * the color should be added as a class with the convention `.ion-color-{COLOR}`
   * where `{COLOR}` is the color to be used on the Ionic component.
   * For more information on adding new colors, please see
   * https://ionicframework.com/docs/theming/colors#adding-colors
   *
   * To generate the code for a new color, check out our new color creator:
   * https://ionicframework.com/docs/theming/colors#new-color-creator
   */

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.ion-color-twitter {
  --ion-color-base: var(--ion-color-twitter);
  --ion-color-base-rgb: var(--ion-color-twitter-rgb);
  --ion-color-contrast: var(--ion-color-twitter-contrast);
  --ion-color-contrast-rgb: var(--ion-color-twitter-contrast-rgb);
  --ion-color-shade: var(--ion-color-twitter-shade);
  --ion-color-tint: var(--ion-color-twitter-tint);
}

.ion-color-google {
  --ion-color-base: var(--ion-color-google);
  --ion-color-base-rgb: var(--ion-color-google-rgb);
  --ion-color-contrast: var(--ion-color-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-google-shade);
  --ion-color-tint: var(--ion-color-google-tint);
}

.ion-color-instagram {
  --ion-color-base: var(--ion-color-instagram);
  --ion-color-base-rgb: var(--ion-color-instagram-rgb);
  --ion-color-contrast: var(--ion-color-instagram-contrast);
  --ion-color-contrast-rgb: var(--ion-color-instagram-contrast-rgb);
  --ion-color-shade: var(--ion-color-instagram-shade);
  --ion-color-tint: var(--ion-color-instagram-tint);
}

.ion-color-vimeo {
  --ion-color-base: var(--ion-color-vimeo);
  --ion-color-base-rgb: var(--ion-color-vimeo-rgb);
  --ion-color-contrast: var(--ion-color-vimeo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vimeo-contrast-rgb);
  --ion-color-shade: var(--ion-color-vimeo-shade);
  --ion-color-tint: var(--ion-color-vimeo-tint);
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-github {
  --ion-color-base: #211f1f;
  --ion-color-base-rgb: 33, 31, 31;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1d1b1b;
  --ion-color-tint: #373535;
}

.ion-color-quaternary {
  --ion-color-base: #9cf;
  --ion-color-base-rgb: 153, 204, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #87b4e0;
  --ion-color-tint: #a3d1ff;
}

.ion-color-primary-collapse-condense {
  --ion-color-base: linear-gradient(var(--ion-color-primary) 0% 50%, var(--ion-background-color, #fff) 50% 100%);
  --ion-color-base-rgb: var(--ion-color-primary-base-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-accent-step-0100 {
  --ion-color-base: #06c;
  --ion-color-base-rgb: 0, 102, 204;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #005ab4;
  --ion-color-tint: #1a75d1;
}

.ion-color-accent-step-0200 {
  --ion-color-base: #00a9cc;
  --ion-color-base-rgb: 0, 169, 204;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0095b4;
  --ion-color-tint: #1ab2d1;
}

.ion-color-accent-step-0300 {
  --ion-color-base: #00cca9;
  --ion-color-base-rgb: 0, 204, 169;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00b495;
  --ion-color-tint: #1ad1b2;
}

.ion-color-accent-step-0400 {
  --ion-color-base: #00cc21;
  --ion-color-base-rgb: 0, 204, 33;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #00b41d;
  --ion-color-tint: #1ad137;
}

.ion-color-accent-step-0500 {
  --ion-color-base: #ac0;
  --ion-color-base-rgb: 170, 204, 0;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #96b400;
  --ion-color-tint: #b3d11a;
}

.ion-color-accent-step-0600 {
  --ion-color-base: #ca0;
  --ion-color-base-rgb: 204, 170, 0;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #b49600;
  --ion-color-tint: #d1b31a;
}

.ion-color-accent-step-0700 {
  --ion-color-base: #c60;
  --ion-color-base-rgb: 204, 102, 0;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b45a00;
  --ion-color-tint: #d1751a;
}

.ion-color-accent-step-0800 {
  --ion-color-base: #cc2100;
  --ion-color-base-rgb: 204, 33, 0;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b41d00;
  --ion-color-tint: #d1371a;
}

.ion-color-accent-step-0900 {
  --ion-color-base: #c06;
  --ion-color-base-rgb: 204, 0, 102;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b4005a;
  --ion-color-tint: #d11a75;
}

.ion-color-accent-step-1000 {
  --ion-color-base: #cc00a9;
  --ion-color-base-rgb: 204, 0, 169;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b40095;
  --ion-color-tint: #d11ab2;
}

.ion-color-accent-step-1100 {
  --ion-color-base: #a0c;
  --ion-color-base-rgb: 170, 0, 204;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #9600b4;
  --ion-color-tint: #b31ad1;
}

.ion-color-accent-blue {
  --ion-color-base: #06c;
  --ion-color-base-rgb: 0, 102, 204;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #005ab4;
  --ion-color-tint: #1a75d1;
}

.ion-color-accent-green {
  --ion-color-base: #093;
  --ion-color-base-rgb: 0, 153, 51;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #00872d;
  --ion-color-tint: #1aa347;
}

.ion-color-accent-yellow {
  --ion-color-base: #fc0;
  --ion-color-base-rgb: 255, 204, 0;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0b400;
  --ion-color-tint: #ffd11a;
}

.ion-color-accent-orange {
  --ion-color-base: #f90;
  --ion-color-base-rgb: 255, 153, 0;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e08700;
  --ion-color-tint: #ffa31a;
}

/*
   * Shared Variables
   * ----------------------------------------------------------------------------
   * To customize the look and feel of this app, you can override
   * the CSS variables found in Ionic's source files.
   * To view all of the possible Ionic variables, see:
   * https://ionicframework.com/docs/theming/css-variables#ionic-variables
   */

/*
   * App iOS Variables
   * ----------------------------------------------------------------------------
   * iOS only CSS variables can go here
   */

.bright-theme.ios {
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #ccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #1a1a1a;
  --ion-color-step-950: #0d0d0d;
}

/*
   * App Material Design Variables
   * ----------------------------------------------------------------------------
   * Material Design only CSS variables can go here
   */

.bright-theme.md {
  --ion-color-step-50: #f3f3f3;
  --ion-color-step-100: #e7e7e7;
  --ion-color-step-150: #dbdbdb;
  --ion-color-step-200: #d0d0d0;
  --ion-color-step-250: #c4c4c4;
  --ion-color-step-300: #b8b8b8;
  --ion-color-step-350: #acacac;
  --ion-color-step-400: #a0a0a0;
  --ion-color-step-450: #949494;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #7d7d7d;
  --ion-color-step-600: #717171;
  --ion-color-step-650: #656565;
  --ion-color-step-700: #595959;
  --ion-color-step-750: #4d4d4d;
  --ion-color-step-800: #414141;
  --ion-color-step-850: #363636;
  --ion-color-step-900: #2a2a2a;
  --ion-color-step-950: #1e1e1e;
}
