/*
   * App Theme
   * ----------------------------------------------------------------------------
   * Ionic apps can have different themes applied, which can
   * then be further customized. These variables come last
   * so that the above variables are used by default.
   */

/*
   * Dark Theme
   * ----------------------------------------------------------------------------
   */

.dark-theme {
  --ion-color-primary: #003366;
  --ion-color-primary-rgb: 0, 51, 102;
  --ion-color-primary-contrast: #d9d9d9;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #002d5a;
  --ion-color-primary-tint: #1a4775;

  --ion-color-secondary: #336699;
  --ion-color-secondary-rgb: 51, 102, 153;
  --ion-color-secondary-contrast: #d9d9d9;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2d5a87;
  --ion-color-secondary-tint: #4775a3;

  --ion-color-tertiary: #6699cc;
  --ion-color-tertiary-rgb: 102, 153, 204;
  --ion-color-tertiary-contrast: #d9d9d9;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5a87b4;
  --ion-color-tertiary-tint: #75a3d1;

  --ion-color-success: #009933;
  --ion-color-success-rgb: 0, 153, 51;
  --ion-color-success-contrast: #d9d9d9;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00872d;
  --ion-color-success-tint: #1aa347;

  --ion-color-warning: #ffcc00;
  --ion-color-warning-rgb: 255, 204, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b400;
  --ion-color-warning-tint: #ffd11a;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

.ion-color-primary-collapse-condense {
  --ion-color-base: linear-gradient(
    var(--ion-color-primary) 0% 50%,
    var(--ion-background-color, #000000) 50% 100%
  );
  --ion-color-base-rgb: var(--ion-color-primary-base-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

/*
   * iOS Dark Theme
   * ----------------------------------------------------------------------------
   */

.dark-theme.ios {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;
}

/*
   * Material Design Dark Theme
   * ----------------------------------------------------------------------------
   */

.dark-theme.md {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;
}

.dark-theme ion-radio {
  --color: var(--ion-color-step-400);
  --color-checked: var(--ion-color-step-850);
}
