.app-background {
  background: var(--ion-background-color, #fff);
  color: var(--color, #000);
}

.app-fullscreen {
  min-height: 100%;
}

.chapter-card {
  height: 300px;
  max-height: 300px;
  max-width: 85vw;
  vertical-align: top;
  width: 340px;
}

.chapter-card ion-img {
  height: 200px;
  object-fit: cover;
}

.chapter-card ion-card-title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: initial;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.chapter-list {
  width: 100%;
}

.drop-shadow {
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 10%));
}

.width-15rem {
  max-width: 15rem;
}

.margin-auto {
  margin: auto;
}

.image-text {
  display: block;
  font-size: small;
  text-align: center;
}

/* Allow users to select and copy text
https://allexperts16.blogspot.com/2018/06/allow-users-to-select-and-copy-text-in.html */

/* .selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

html {
  background: rgb(0, 51, 102);
}

@media (prefers-color-scheme: dark) {
  html[mode="md"] {
    background: #121212;
  }

  html[mode="ios"] {
    background: #000;
  }
}
