/* Allow users to select and copy text
https://allexperts16.blogspot.com/2018/06/allow-users-to-select-and-copy-text-in.html */

.chapter-card {
  height: 300px;
  max-height: 300px;
  max-width: 85vw;
  width: 340px;
}

.chapter-card ion-img {
  height: 200px;
  object-fit: cover;
}

.chapter-card ion-card-title {
  display: -webkit-box;
  font-size: initial;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

.chapter-list {
  width: 100%;
}

.drop-shadow {
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.1));
}

.width-15rem {
  max-width: 15rem;
}

.margin-auto {
  margin: auto;
}

.image-text {
  display: block;
  font-size: small;
  text-align: center;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
